<!--Page Banner Section start-->
<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="page-banner-title">My Account</h1>        
      </div>
    </div>
  </div>
</div>
<!--Page Banner Section end-->
<!--Login & Register Section start-->
<div class="login-register-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
  <div class="container">
    <div class="row row-25">
      <%= render partial: "layouts/web/acount_menu"%>
      <div class="col-lg-8 col-12">
        <div class="tab-content ">
          <div id="" class="tab-pane show active">
            <form action="/reset_password" method="post">
              <div class="row">
                <div class="col-12 mb-30">
                  <h3 class="mb-0">Change Password</h3>
                </div>
                <div class="col-12 mb-30">
                	<label for="current_password">Current Password</label>
                	<input type="password" id="current_password" required="true" name="old_password" placeholder="Current password">
                </div>
                <div class="col-12 mb-30">
                	<label for="new_password">New Password</label>
                	<input type="password" id="new_password" required="true" name="new_password" placeholder="New password">
                </div>
                <div class="col-12 mb-30">
                	<label for="confirm_new_password">Confirm New Password</label>
                	<input type="password" id="confirm_new_password" required="true" name="confirm_new_password" placeholder="Confirm New password">
                </div>
                <div class="col-12 mb-30">
                	<button type="submit" class="btn">Save Change</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Login & Register Section end-->