<!-- <h6 style="color:black;"><%#= msg.content %></h6> -->
<%# debugger %>
<% if (msg.user_id == current_user.id) %>
  <!-- YOUR CHAT TEMPLATE -->
  <div id="your-chat" class="your-chat">
    <p class="your-chat-balloon"><%= msg&.content %></p>
    <p class="chat-datetime"><span class="glyphicon glyphicon-ok"></span><%= msg.created_at.strftime("%I:%M %p") %></p>
  </div>
<% else %>
  <!-- FRIENDS CHAT TEMPLATE -->
  <div id="friends-chat" class="friends-chat" style="padding-left: 10px;">
  	<div class="profile friends-chat-photo">
      <!-- <img src="images/ava2.jpg" alt=""> -->
    </div>
    <div class="friends-chat-content">
      <!-- <p class="friends-chat-name">Mario Gomez</p> -->
      <p class="friends-chat-balloon"><%= msg&.content %></p>
      <h5 class="chat-datetime">S<%= msg.created_at.strftime("%I:%M %p") %></h5>
    </div>
  </div>
  <audio id="audio-alert" src="/audio.mp3" autoplay ></audio>
<% end %>