<header class="header header-sticky">
  <div class="header-bottom menu-center">
    <div class="container">
      <div class="row justify-content-between">
        <!--Logo start-->
        <div class="col mt-10 mb-10">
          <div class="logo">
            <a href="/"><img src="https://htmldemo.net/khonike/khonike/assets/images/logo.png" alt=""></a>
          </div>
        </div>
        
        <!--Logo end-->
        <!--Menu start-->
        <div class="col d-none d-lg-flex">
          <nav class="main-menu">
            <ul>
              <li class="has-dropdown">
                <a href="#">Pages</a>
                <ul class="sub-menu">
                  <li><a href="/my_account">My account</a></li>
                  <li><a href="/my_favourite">My favourites</a></li>
                  <li><a href="/orders"> My Orders</a></li>           
                  <li><a href="/users/sign_out">Log Out</a></li>
                </ul>
              </li>
              <li >
                <% if current_user&.role == "agent" %>
                <a  href="/rooms">Notifications</a>
                <% end %>
              </li>
              <li >
                <% if user_signed_in? %>
                  <a href="/users/sign_out" >LogOut</a>
                <% else %>
                  <a href="/users/sign_in" >Login_or_Register</a>
                <% end %>
              </li>
            </ul>
          </nav>
        </div>

        <!--Menu end-->
        <!--User start-->
        
      </div>
      <!--Mobile Menu start-->
      <div class="row">
        <div class="col-12 d-flex d-lg-none">
          <div class="mobile-menu"></div>
        </div>
      </div>
      <!--Mobile Menu end-->
    </div>
  </div>
</header>