<header class="header header-sticky">
  <div class="header-bottom menu-center">
    <div class="container">
      <div class="row justify-content-between">
        <!--Logo start-->
        <div class="col mt-10 mb-10">
          <div class="logo">
            <a href="/"><img src="https://htmldemo.net/khonike/khonike/assets/images/logo.png" alt=""></a>
          </div>
        </div>
        
        <!--Logo end-->
        <!--Menu start-->
        <div class="col d-none d-lg-flex">
          <nav class="main-menu">
            <ul>
              <li class="has-dropdown">
                <a href="#">Pages</a>
                <ul class="sub-menu">
                  <li><a href="/my_account">My account</a></li>                  
                  <li><a href="/users/sign_out">Log Out</a></li>
                </ul>
              </li>
              <!-- <li class="has-dropdown">
                <a href="properties.html">Properties</a>
                <ul class="sub-menu">
                  <li class="has-dropdown">
                    <a href="properties.html">Properties Grid</a>
                    <ul class="sub-menu">
                      <li><a href="properties.html">Default Layout</a></li>
                      <li><a href="properties-left-sidebar.html">Left Sidebar</a></li>
                      <li><a href="properties-right-sidebar.html">Right Sidebar</a></li>
                    </ul>
                  </li>
                </ul>
              </li> -->

            </ul>
          </nav>
        </div>

        <!--Menu end-->
        <!--User start-->
        
        <div class="col mr-sm-50 mr-xs-50">
          <div class="header-user">
            <% if user_signed_in? %>
              <a href="/users/sign_out" class="user-toggle"><i class="pe-7s-user"></i><span>Log Out</span></a>
            <% else %>
              <a href="/users/sign_in" class="user-toggle"><i class="pe-7s-user"></i><span>Login or Register</span></a>
            <% end %>
          </div>          
        </div>
      </div>
      <!--Mobile Menu start-->
      <div class="row">
        <div class="col-12 d-flex d-lg-none">
          <div class="mobile-menu"></div>
        </div>
      </div>
      <!--Mobile Menu end-->
    </div>
  </div>
</header>
